.allrepos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .repo{
    background-color:rgba(232, 253, 255, 0.705);
    color: black;
    margin-bottom: 2%;
    border-radius: 4px; 
  }
  .form-control::placeholder{
    color: white;
  }
